@use '../abstracts' as *;

.group-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 12px;
    background-color: #dbdcd4;
    cursor: pointer;


        font-size: 18px;
        line-height: 24px;
        font-weight: 700;

        border-top: 1px solid #d7d8d2;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px;
            span{
                padding-left: 5px;
            }
        }

        &.minor{
            background-color:  #e6e8e3;
        }

}

.group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 12px;
    border-top: 1px solid #d7d8d2;
    align-items: center;
    cursor: pointer;

}
.flag{
    width:14px;
    height: 14px;
    margin-right: 5px;
}