@use '../abstracts' as *;

.sub-main-container{
    display: flex;
    flex-direction: row;
    
}

.sub-home-container{
    width: 60%;
}

@include mobile{


     .sub-home-container, .slip-container {
        width: 100%;

    }
    .sub-main-container{
        padding-bottom: 85px;
    }
}