@use '../abstracts' as *;

.icon-in-row{
    border: 1px solid $secondary-color;
    display:flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    img{
        width: 40px;
        height: 40px;
    }
    &.checked{
        border-color:red;
    }
}

.icons-row-top{
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    height: 71px;
    z-index: 4;
    border-top: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
}