@use '../abstracts/' as *;

.home-container{
    display :flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 64px;
    @include mobile{
        padding-top: 104px;
        
    }

}