
// Color
$text-color : #615bb4;// no effect found
// Menu items before click

// Home Text Color ( UnSelect ) : R163 G:140 B:131
// Home Text Color ( Select ) : R:255 G:129 B:0 
$white: rgb(163,140,131);

$secondary-color: #02104f;
$primary-color: rgb(32, 39, 50);
$primary-opacity01 : rgba(66,115,170,0.1);
$line : rgba(66,115,170,0.2);



$header-height: 88px;
$header-shrink-height: 90px;

$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1200px;
$desktop-1350: 1350px;
$desktop-1900 : 1900px;


$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0,0,0,0.5);